body{
    background-color: black;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 30pt;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: left;
    font-size: 20px;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: left;
    font-size: 20px; 
}

ul{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    list-style: none;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 footer{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 0;
} 

 .tabuleiro1 {
    width: 150px;
    height: 150px;
    border:3px solid white;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: 0;
}

.tabuleiro2 {
    width: 150px;
    height: 150px;
    border:2px solid white;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: 0;
}
 .container1 {
    display: grid;
    margin-left: auto;
    margin-right: 0;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    gap: 0;
 }

 .container2{
    display: grid;
    margin-left: auto;
    margin-right: 0;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    gap: 0;
 }


 .quadrado1{

      display: flex;
      flex-direction: column;
      flex-direction: row;
      border: 1px solid white;
      width: 250px;
      height: 80px;

 }

 .quadrado2{

    display: flex;
    flex-direction: column;
    flex-direction: row;
    border: 1px solid white;
    width: 250px;
    height: 80px;

}




