body{
    background-color: black;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2, h3, footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

h1{
    
    text-align: center;
    font-size: 30pt;
}

h2, h3{
    
    text-align: left;
    font-size: 20px;
}

ul{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    list-style: none;
    padding: 0;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 footer{
    position: fixed;
    bottom: 0;
    text-align: end;
    padding: 10px;
} 

 .tabuleiro1, .tabuleiro2 {
    width: 150px;
    height: 150px;
    border:3px solid white;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: 0;
}

 .container1, .container2 {
    display: grid;
    margin-left: auto;
    margin-right: 0;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    gap: 0;
 }

 .quadrado1, .quadrado2{

      display: flex;
      flex-direction: column;
      flex-direction: row;
      border: 1px solid white;
      width: 250px;
      height: 80px;
      justify-content: center;
      align-items: center;
 }

 section{
    margin-top: 0;
    font-size: 1.2rem;
 }



