body{
    background-color: rosybrown;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    font-size: 30pt;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: left;
    font-size: 20px;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: right;
    font-size: 20px; 
}

ol{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: black solid 2px;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 footer{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 0;
} 

 .tabuleiro1 {
    width: 400px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 2fr);
    border:2px solid black;
    background: -o-linear-gradient(45deg);
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: 0;
}

.tabuleiro2 {
    width: 400px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 2fr);
    border:2px solid black;
    background: -o-linear-gradient(45deg);
    justify-content: space-evenly;
    margin-right: 0;
    margin-left: auto;
}

.quadrado{
    background-color: black;
    padding: 1px;
    text-align: center;
    border: 1px solid black;
}

